<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= player.name %> Profile</title>
  <link rel="stylesheet" href="/css/player.css">
</head>
<body>
  <div class="player-profile">
    <div class="player-card">
      <section class="player-details">
        <h1 class="player-name"><%= player.name %> Profile </h1>
        <hr>
        <p class="player-rating"><strong>Height:</strong> <%= player.height %></p>
        <p class="player-rating"><strong>Weight:</strong> <%= player.weight %></p>
        <p class="player-rating"><strong>Preferred Foot:</strong> <%= player.preferredFoot %></p>
        <p class="player-rating"><strong>Birth Date:</strong> <%= player.birthDate %></p>
        <p class="player-rating"><strong>Player Work Rate:</strong> <%= player.playerWorkRate %></p>
        <p class="player-rating"><strong>Weak Foot:</strong> <%= player.weakFoot %> / 5</p>
        <p class="player-rating"><strong>Skill Moves:</strong> <%= player.skillMoves %> / 5</p>
        <p class="player-rating"><strong>Value:</strong> <%= player.valueEuro %></p>
        <p class="player-rating"><strong>Wage:</strong> <%= player.wageEuro %></p>
        <p class="player-rating"><strong>Overall Rating:</strong> <%= player.overallRating %></p>
        <p class="player-rating"><strong>Potential Rating:</strong> <%= player.potentialRating %></p>
        <p class="player-positions"><strong>Preferred Positions:</strong> <%= player.preferredPositions.join(', ') %></p>
        <p class="player-age"><strong>Age:</strong> <%= player.age %></p>
        <p class="player-rating">
          <strong><%= player.playerStatsHeader %> Stats:</strong> <%= player.playerStatsText %>
        </p>
              </section>
      <aside>
          <img src="<%= player.playerImg %>" alt="<%= player.name %>">
          <img src="<%= player.teamImg %>" alt="<%= player.team %>">
          <img src="<%= player.nationalityImg %>" alt="<%= player.nationality %>"></p>  
      </aside>
      </div>
  </div>

  <div class="pagination">
    <a href="/players-profile" class="back-button">Back to Players' Profiles</a>
  </div>
  <!-- <a href="./players-profile.ejs" class="back-button">DON'T (Back to Players' Profiles)</a> -->
<script>
    // alert("Got You! NO DATA YET")
</script>
</body>
</html>


