<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= player.name %> Profile</title>
  <link rel="stylesheet" href="/css/player.css">
</head>
<body>
  <div class="player-profile">
    <section class="player-details">
      <h1 class="player-name"><%= player.name %> Profile</h1>
      <p class="player-nationality"><strong>Nationality:</strong> <img src="<%= player.nationalityImg %>" alt="<%= player.nationality %>"></p>
      <p class="player-rating"><strong>Overall Rating:</strong> <%= player.overallRating %></p>
      <p class="player-rating"><strong>Potential Rating:</strong> <%= player.potentialRating %></p>
      <p class="player-positions"><strong>Preferred Positions:</strong> <%= player.preferredPositions.join(', ') %></p>
      <p class="player-age"><strong>Age:</strong> <%= player.age %></p>
      <p class="player-team"><strong>Team:</strong> <img src="<%= player.teamImg %>" alt="<%= player.team %>"></p>
    </section>
    <aside>
      <p class="player"><img src="<%= player.playerImg %>" alt="<%= player.name %>"></p>
    </aside>
  </div>
  


  <div class="pagination">
    <a href="/players-profile" class="back-button">Back to Players' Profiles</a>
  </div>


  <!-- <a href="./players-profile.ejs" class="back-button">DON'T (Back to Players' Profiles)</a> -->

<script>
    // alert("Got You! NO DATA YET")
</script>
</body>
</html>


